.card {
  margin-bottom: 30px;
  
  .list {
    ul {
      margin-left: 1em;
      list-style-type: disc;
    }
  }
}

ul.post-tags {
  padding: 0;
  display: inline-flex;
  list-style: none;

  li {
    margin-right: 10px;
  }
}
