@import url('https://fonts.googleapis.com/css?family=Raleway');

$site-font: 'Roboto', sans-serif;
// 'Fira Code', monospace;
// 'Raleway', sans-serif;

$light-gray: rgb(240, 240, 240);
$dark-gray: rgb(80, 80, 80);
$dark-mode:  #252627;
$dark-background: #000000;
$switch-black: black;
$switch-silver: silver;
$white: white;
$silver-color: #dfdfdf;
